
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.country{
  border: 3px solid rgb(10, 153, 200);
  border-radius: 20px;
  margin: 3px;
  color: gray;
  text-align: justify;
  font-style: oblique;
  /* flex: 1 0 25%;; */
  /* flex-grow: 1; */
  /* width: 20%; */
  /* height: 0px; */
  flex-grow: 1;
  font-size: 24px;
  /* width: 40%; */
  /* height: 100px; */
}


.town{
  border: 9px solid yellow;
  margin: 3px;
  /* flex: 1 0 25%; */
   flex-grow: 1; 
  /* width: 33%;
  height: 100px; */ 
 

}

.places{
  display: inline-block;
  align-content: left;
  /* flex-direction: column;
   
  /* flex-wrap: wrap; */
   justify-content: space-between; 
}

.container{
  width:900px; 
  height: 150px;

}
.destination{
  width:300px; 
  float:left; 
  /* background: green;  */
  height: 300px;
  margin: 50px;
  font-style: oblique;
  color: gray;
  background-color: aliceblue;
}

.details{
  width:300px; 
  height: 150px; 
  float:right; 
  /* background: blue; */
  margin: 50px;
  font-style: oblique;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a:hover {
  background-color: #555;
  color: white;
}

.intro {
  text-align: center;
  color: pink
}

header{
  background-image: url(./Images/world.png)

}

input[type=text] {
  position: absolute;
  left: 2px;
  top: 130px;
  /* background-color: white; */


  padding: 0 20px;
}

button {
  position: absolute;
  left: 180px;
  top: 130px;
}

p{
  display: inline-block;
}